<a href="https://colab.research.google.com/github/kim-woo-joon/AIproject/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EA%B5%AC%ED%98%84%EC%9C%BC%EB%A1%9C_%EB%B0%B0%EC%9A%B0%EB%8A%94_%EC%84%A0%ED%98%95%EB%8C%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5
b = 2
c = a + b

In [ ]:
print(c)

7

In [ ]:
a1 = True
print(a1)

True

In [ ]:
a = 2
b = 1
a > b

True

In [ ]:
a = 4
b = 3
c = 2
d = 1

a > b and c > d

True

In [ ]:
a = 4
b = 3
c = 2
d = 1

a > b and c < d

False

In [ ]:
a > b or c < d

True

In [ ]:
a = [1, 2, 3, 4, 5]

if a[0] == 1:
  a.append(8)

print(a)

[1, 2, 3, 4, 5, 8]

In [ ]:
for i in range(0, 50) : 
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
a = ['abc', 3, 'de', 7]
for element in a:
  print(element)

abc
3
de
7

In [ ]:
b = [1, 2, 3, 4, 5]
c = [element * 2 for element in b]
print(c)

[2, 4, 6, 8, 10]

In [ ]:
num = 0
while num < 5:
  print(num)
  num = num + 1

0
1
2
3
4

In [ ]:
def add(a, b):
  c = a + b
  return c

In [ ]:
add(1, 2)

3

In [ ]:
x = 3
y = x

In [ ]:
print(x)
print(y)

3
3

In [ ]:
u = [7, 3, 9]
v = [2, 5, 7]

n = len(u)

w = []

for i in range(0, n):
  val = u[i] - v[i]
  w.append(val)

In [ ]:
print(w)

[5, -2, 2]

In [ ]:
def v_subtract(u, v):
  n = len(u)
  w = []

  for i in range(0, n):
    val = u[i] - v[i]
    w.append(val)
  return w

In [ ]:
u = [7, 3, 9]
v = [2, 5, 7]

v_subtract(u, v)

[5, -2, 2]

In [ ]:
u = [2, 4, 3]
a = 3

n = len(u)
w = []

for i in range(0, n):
    val = a * u[i]
    w.append(val)

In [ ]:
print(w)

[6, 12, 9]

In [ ]:
u = [6, 5, 9]
v = [2, 2, -3]

n = len(u)
w = []

for i in range(0, n):
  val = u[i] / v[i]
  w.append(val)

print(w)

[3.0, 2.5, -3.0]

In [ ]:
A = [[2, 7], [3, 4], [6, 1]]
B = [[1, 4], [4, -1], [2, 5]]

n= len(A)
p = len(A[0])

res = []

for i in range(0, n):
  row = []
  for j in range(0, p):
    val = A[i][j] + B[i][j]
    row.append(val)
  res.append(row)

print(res)

[[3, 11], [7, 3], [8, 6]]

In [ ]:
def add(A, B):
  n = len(A)
  p = len(A[0])

  res = []
  for i in range(0, n):
    row = []
    for j in range(0, p):
      val = A[i][j] + B[i][j]
      row.append(val)
    res.append(row)
  return res

In [ ]:
A = [[2, 7], [3, 4], [6, 1]]
B = [[1,4], [4, -1], [2, 5]]
add(A, B)

[[3, 11], [7, 3], [8, 6]]

In [ ]:
A = [[2, 7], [3, 4], [6, 1]]
B = [[1,4], [4, -1], [2, 5]]

n = len(A)
p = len(A[0])

res = []
for i in range(0, n):
  row = []
  for j in range(0, p):
    val = A[i][j] - B[i][j]
    row.append(val)
  res.append(row)

  print(res)

[[1, 3]]
[[1, 3], [-1, 5]]
[[1, 3], [-1, 5], [4, -4]]

In [ ]:
def subtract(A, B):
  n = len(A)
  p = len(A[0])

  res = []
  for i in range(0, n):
    row = []
    for j in range(0, p):
      val = A[i][j] - B[i][j]
      row.append(val)
    res.append(row)
  return res

In [ ]:
A = [[2, 7], [3, 4], [6, 1]]
B = [[1, 4], [4, -1], [2, 5]]

subtract(A, B)

[[1, 3], [-1, 5], [4, -4]]

In [1]:
A = [[2, 7], [3, 4], [6, 1]]
b = 2

n = len(A)
p = len(A[0])

res = []
for i in range(0, n):
  row = []
  for j in range(0, p):
    val = b * A[i][j]
    row.append(val)
  res.append(row)
print(res)

[[4, 14], [6, 8], [12, 2]]

In [9]:
def scalar_mul(b, A):
  n = len(A)
  p = len(A[0])

  res = []
  for i in range(0, n):
      row = []
      for j in range(0, p):
          val = b * A[i][j]
          row.append(val)
      res.append(row)
  return res

In [10]:
A = [[2, 7], [3, 4], [6, 1]]
b = 2
scalar_mul(b, A)

[[4, 14], [6, 8], [12, 2]]